@include mobile-only {
  .title-bar {
    display: flex !important;
    background: transparent;
    padding: 10px 0;
    
    .menu-icon {
      display: block !important;
      visibility: visible !important;
      opacity: 1 !important;
      cursor: pointer;
      position: relative;
      z-index: 100;
    }
  }
  
  #mobile-menu.off-canvas.in-canvas-for-medium {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: $mobile-menu-width !important;
    height: 100% !important;
    background: $color-bg-white !important;
    z-index: $z-index-mobile-menu !important;
    transform: translateX(-100%) !important;
    transition: transform $transition-normal !important;
    overflow-y: auto !important;
    box-shadow: $box-shadow-menu;
    visibility: visible !important;
    display: block !important;
    
    &.is-open {
      transform: translateX(0) !important;
    }
  }
  
  body.is-off-canvas-open {
    overflow: hidden;
    
    &::after {
      content: '';
      @include overlay;
      pointer-events: auto;
    }
  }
  
  #mobile-menu .close_button {
    display: block;
  }
}

@include tablet-up {
  .title-bar {
    display: none !important;
  }
  
  #mobile-menu .close_button {
    display: none !important;
  }
}

.drilldown .is-drilldown-submenu-parent > a {
  position: relative;
  padding-right: 50px !important;
  
  &::after {
    @include chevron-arrow('right', 10px, $color-text-primary);
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: 0;
    padding: 0;
    background: transparent !important;
    transition: transform $transition-normal;
  }
}

.drilldown .js-drilldown-back > a {
  position: relative;
  padding-left: 40px !important;
  background-color: $color-bg-light !important;
  border-bottom: 1px solid $color-border-light;
  font-weight: $font-weight-semibold;
  color: $color-text-primary !important;
  text-transform: uppercase;
  font-size: $font-size-xs;
  letter-spacing: 1px;
  
  &::before {
    @include chevron-arrow('left', 10px, $color-text-primary);
    position: absolute;
    left: 1rem;
    top: 50%;
    padding: 0;
    background: transparent !important;
    margin-right: 0;
    vertical-align: middle;
  }
}

.drilldown .is-drilldown-submenu {
  background: $color-bg-white !important;
  
  a {
    border-bottom: 1px solid $color-border-lighter;
    
    &:hover {
      background-color: $color-bg-gray;
    }
  }
}

#mobile-menu {
  .close_button {
    padding: 15px;
    border-bottom: 1px solid $color-border-light;
    background: $color-bg-light;
  }
  
  .close-button {
    position: relative;
    width: 100%;
    text-align: right;
    font-size: $font-size-base;
    color: $color-text-primary;
    cursor: pointer;
    background: transparent;
    border: none;
  }
}
