#about-testimonials {
  background: $color-bg-gray;
  padding: 70px 0;
}

.test-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  
  span {
    color: $color-secondary;
  }
}

.testimonial-slider {
  padding: 50px 20px 0;
  text-align: center;
}

.testimonial {
  text-align: center;
  
  .description {
    color: $color-text-secondary;
    line-height: $line-height-base;
    text-indent: 30px;
    position: relative;
    width: 800px;
    margin: 10px auto;
    font-size: $font-size-xl;
    font-style: italic;
    font-weight: $font-weight-medium;
    @include font-primary;
  }
  
  .title {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: #646262;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 15px 0 5px;
    font-family: 'Lato', sans-serif;
  }
  
  .post {
    display: block;
    font-size: $font-size-base;
    color: #666;
  }
  
  img {
    border-radius: $border-radius-circle;
    height: 85px;
    width: 80px;
  }
}

.owl-buttons {
  display: none;
}

.owl-theme .owl-controls .owl-page span {
  width: 1px;
  height: 1px;
  border-radius: $border-radius-circle;
  border: 4px solid dodgerblue;
  transition: all $transition-normal;
  margin: 5px;
}

.testi-image img {
  border-radius: $border-radius-circle;
  border: 3px solid $color-secondary;
}

.testi-content cite {
  font-style: normal;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
}

@media only screen and (max-width: 479px) {
  .owl-buttons {
    bottom: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .testimonial .description {
    width: 100%;
  }
}
